{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended"],
  "globals": { "fetch": false },
  "rules": {
    "react/jsx-filename-extension": [0],
    "no-console": "off",
    "operator-linebreak": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-mixed-operators": [
      "error",
      {
          "groups": [
              ["*", "/"]
          ],
          "allowSamePrecedence": true
      }
    ],
    "react/jsx-props-no-spreading": [0],
    "no-param-reassign": ["error", { "props": false }]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}